.nav {
  width: 100vw;
  min-height: 8vh;
  background: red;
}

.nav__items {
  flex: 10;
}

.nav__logo {
  flex: 4;
}

.nav__search {
  flex: 10;
}

.nav__section {
  width: 100%;
  min-height: 8vh;
  display: flex;
}
